<div class="box" style="display: flex; flex-direction: column;">
  <div style="border: 2px solid rgb(126, 126, 126); height: 220px; width: 320px; padding: 30px; text-align: center; border-radius: 4px;">
    <div class="mb-3">
      <label class="form-label" style="font-size: 19px; margin-bottom: 50px;">Deseja criar uma conta para:</label>
    </div>
    <div class="mb-3">
        <a href="/nova-conta/aluno" class="btn btn-outline-primary" style="margin-right: 15px;">Aluno</a>
        <a href="/nova-conta/professor" class="btn btn-outline-primary">Professor</a>
    </div> 
  </div>   
</div>