<div class="box">
  <h2 style="text-align: center;">{{txtTitulo}}</h2>
    <form (ngSubmit)="submitBtn()">
      <div class="mb-3">
        <label for="tx-nome" class="form-label">Nome</label>
        <input type="text" class="form-control" [(ngModel)]="aula.nome" name="tx-nome"/>
      </div>
      <div class="mb-3">
        <label for="tx-duracao" class="form-label">Duração</label>
        <input type="text" class="form-control" [(ngModel)]="aula.duracao" name="tx-duracao" />
      </div>
      <div class="mb-3">
        <label for="tx-topicos" class="form-label">Topicos</label>
        <input type="text" class="form-control" [(ngModel)]="aula.topicos" name="tx-topicos" />
      </div>
      <button type="submit" class="btn btn-primary mr-5">{{txtBotao}}</button>
      <a (click)="returnHome()" class="btn btn-outline-primary">Voltar para o inicio</a>
    </form>
  </div>